api-version: 2024-04-13
location: francecentral
name: ailytics
properties:
  containers:
  - name: streamlitapp
    properties:
      image: docker.io/wiktorjakubowski/ailytics_app:latest
      ports:
      - port: 80
        protocol: TCP
      - port: 443
        protocol: TCP
      volumeMounts: # Array of volume mounts for the instance
      - name: ailytics-ssl-volume
        mountPath: /mnt/letsencrypt
      resources:
        requests:
          cpu: 2.0
          memoryInGB: 1.5
  imageRegistryCredentials:
  - server: docker.io
    username: wiktorjakubowski
    password: <passworddockerhub>
  restartPolicy: Never
  ipAddress:
    ports:
    - port: 443
      protocol: TCP
    - port: 80
      protocol: TCP
    type: Public
    dnsNameLabel: ailytics #FQDN
  volumes: # Array of volumes available to the instances
  - name: ailytics-ssl-volume
    azureFile:
      shareName: ailyticsfileshare  # FILE SHARE NAME
      storageAccountName: ailtycissa # SA NAME
      storageAccountKey: <sapassword> # SA PASSWORD
  osType: Linux
tags: null
type: Microsoft.ContainerInstance/containerGroups