api-version: 2024-04-13
location: westeurope
name: aitylics
properties:
  containers:
  - name: streamlitapp
    properties:
      image: acrailytics.azurecr.io/streamlitapp:v1
      ports:
      - port: 80
        protocol: TCP
      - port: 443
        protocol: TCP
      resources:
        requests:
          cpu: 2.0
          memoryInGB: 1.5
  imageRegistryCredentials:
  - server: acrailytics.azurecr.io
    username: acrailytics
    password: REDACTED
  restartPolicy: Never
  ipAddress:
    ports:
    - port: 443
      protocol: TCP
    - port: 80
      protocol: TCP
    type: Public
    dnsNameLabel: ailytics #FQDN
  osType: Linux
tags: null
type: Microsoft.ContainerInstance/containerGroups