api-version: 2024-04-13
location: francecentral
name: ailyticsagent
properties:
  containers:
  - name: fastapiagent
    properties:
      image: docker.io/wiktorjakubowski/ailytics_agent:latest
      ports:
      - port: 8080
        protocol: TCP
      resources:
        requests:
          cpu: 2.0
          memoryInGB: 1.5
  imageRegistryCredentials:
  - server: docker.io
    username: wiktorjakubowski
    password: <passworddockerhub>
  restartPolicy: Never
  ipAddress:
    ports:
    - port: 8080
      protocol: TCP
    type: Public
    dnsNameLabel: ailyticsapi #FQDN
  osType: Linux
tags: null
type: Microsoft.ContainerInstance/containerGroups